@import "../../assets/Styles/index.scss";

.p-search {
  margin-bottom: 30px;
  font-size: 22px;
}

.p-search span {
  font-weight: 700;
}

.card-list-pokemon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}
