@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
@import "./skin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: 991px) {
    flex-basis: calc(33.333% - 20px);
  }

  @media screen and (max-width: 767px) {
    flex-basis: calc(50% - 20px);
    justify-content: center;
  }

  @media screen and (max-width: 480px) {
    flex-basis: 100%;
    justify-content: center;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

header form {
  display: flex;
  align-items: center;
  gap: 15px;

  @media screen and (max-width: 480px) {
    display: grid;
    justify-items: center;
    gap: 10px;
  }
}

.water {
  background-color: $color-water;
}

.grass {
  background-color: $color-grass;
}

.poison {
  background-color: $color-poison;
}

.fire {
  background-color: $color-fire;
}

.bug {
  background-color: $color-bug;
}

.dragon {
  background: $color-dragon;
}

.flying {
  background-color: $color-flying;
}

.ground {
  background-color: $color-ground;
}

.steel {
  background-color: $color-steel;
}

.psychic {
  background-color: $color-psychic;
}

.ice {
  background-color: $color-ice;
}

.ghost {
  background-color: $color-ghost;
}

.normal {
  background-color: $color-normal;
}

.rock {
  background-color: $color-rock;
}

.electric {
  background-color: $color-electric;
}

.fighting {
  background-color: $color-fighting;
}

.fairy {
  background-color: $color-fairy;
}

.dark {
  background-color: $color-dark;
}
